<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.araceliteixeira.b2caccess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:description=".MainActivity"
            android:label="B2C ACCESS">
            <intent-filter>
                <action android:description="android.intent.action.MAIN" />

                <category android:description="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:description=".NewUser"
            android:label="B2C NEW USER" />
        <activity android:description=".ProductView"></activity>
    </application>

</manifest>